@mixin heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

@mixin type-title {
  margin: 2em 0;
  @include heading;
  font-size: 2.25rem;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

@mixin type-subtitle {
  @include heading;
  font-size: 1.75rem;
  line-height: 1em;
  margin-top: 2rem;
}

@mixin type-heading {
  @include heading;
  font-size: 1.25rem;
  line-height: 1em;
  margin-top: 1rem;
}

@mixin type-subheading {
  font-size: 1rem;
  line-height: 1em;
  margin-top: 0.5rem;
} 