@import "~styles/tools/_tools";

html, body {
  color: #333;
  background-color: rgb(253, 253, 253);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  @include type-body;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
}

#__next {
  max-width: 800px;
  flex: 1;
  display: flex;
  flex-direction: column;
}