@import "imports/reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

body {
  font-family: sans-serif;
  font-size: 1em;
  background-color: #394020;
  color: #f2edeb;
  font-family: 'Roboto', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.75em;
  font-weight: 300;
}

body.cv {
  background-color: #f3f3f3;
  color: #232323;
}

main {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.5em;
}
footer {
  padding: 1.5em 0;
}

strong {
  font-weight: 700;
}

h1 { 
  text-transform: uppercase;
  font-size: 2.5em;
}
.home h1 {
  line-height: 1em;
}
.cv h1 {
  margin: 2em 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

h2 {
  margin: 1.25em 0;
  font-size: 1.85em;
}
h3 {
  margin: 2.5em 0 0;
  font-size: 1.5em;
}
h4, p {
  margin: 0.75em 0 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.cv h4 {
  clear: left;
}
.cv blockquote {
  margin: 1.5em 0 0;
  font-style: italic;
}
.cv figure {
  margin: 2em 0 0.5em;
}
.cv img {
  max-width: 64px;
  max-height: 64px;
}

@media (max-width: 480px) {
  .cv h4 > strong {
    display: block;
  }
}
